@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@500;600;700;800&display=swap');

* {
  font-family: 'Rokkitt', serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  --clr-main: rgb(255, 212, 94);
  --clr-main-lighter: rgba(255, 212, 94, 0.2);
  --width-nav: 11rem;
  --font-size-nav: 1.4rem;
}



header .main__title {
  font-size: 2.5rem;
  text-align: center;
  padding-block: 50px;
  margin-left: var(--width-nav);
}

nav {
  z-index: 10;
  position: fixed;
  display: flex;
  width: var(--width-nav);
  flex-direction: column;
  top: 0;
  bottom: 0;
}

nav a {
  position: relative;
  display: flex;
  align-items: center;
  font-size: var(--font-size-nav);
  text-decoration: none;
  height: 100%;
  transition: 400ms cubic-bezier(.44, 1.67, .91, .9) 0ms;
  padding-inline: 10px;
  color: black;
}

nav a::before {
  position: absolute;
  content: "";
  background-color: black;
  inset: 0;
  left: -50px;
  z-index: -1;
  transform: translateX(-100%);
  transition: 400ms cubic-bezier(.44, 1.67, .91, .9) 0ms;
}

nav a:hover {
  color: white;
}

nav a:hover::before {
  transform: translateX(0);
}

nav a:hover,
.clicked__anchor {
  font-size: 1.6rem;
}

nav a:hover::before {
  transform: translateX(0);
}

.clicked__anchor,
.clicked__anchor:hover {
  color: black;
}

.clicked__anchor::before {
  background-color: var(--clr-main);
  transform: translateX(0);
  transition-duration: 100ms;
}

main {
  display: grid;
  place-items: center;
  gap: 40px;
  padding: 0 5% 50px;
  margin-left: var(--width-nav);
}

section {
  display: grid;
  place-items: center;
  gap: 40px;
  max-width: 1000px;
  width: 100%;
}

h2 {
  background-color: black;
  color: white
}

table,
td,
th {
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
}

table {
  scroll-behavior: smooth;
  width: 100%;
}

th {
  font-size: 1.1rem;
  padding: 0;
  border: 1px solid black;
}

td {
  font-size: 1.2rem;
  border: solid 1px black;

}

td:nth-child(1) {
  position: relative;
  white-space: nowrap;
  width: 25rem;
  padding: 10px 80px 10px 10px;
}

td:nth-child(2) {
  background-color: var(--clr-main-lighter);
  text-align: left;
}

.copyBtn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  display: grid;
  place-items: center;
  background-color: rgb(0, 0, 0);
  width: 40px;
  aspect-ratio: 1/1;
  border: none;
  transition: 400ms;
}

.copyBtn:hover {
  cursor: pointer;
  background-color: var(--clr-main);
  border-radius: 5px;
}

.copyBtn:hover svg {
  color: black;
}

.copyBtn svg {
  color: white;
  transition: 400ms;
}

code {
  display: inline-block;
  background-color: var(--clr-main);
  padding: 5px;
}

pre {
  white-space: pre-line;
}

@keyframes showCopied {
  0% {
    transform: translateX(100%);
  }

  10%,
  60% {
    transform: translateX(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

.showConfirmBox {
  animation: showCopied 2s forwards;
}

.confirmCopy {
  position: fixed;
  z-index: 100;
  transform: translateX(100%);
  top: 0px;
  right: 0px;
  padding: 10px;
  background-color: black;
  font-size: 1.2rem;
  color: white;
  pointer-events: none;
  transform-origin: top right;
}

article {
  width: 100%;
}

article h3 {
  text-align: center;
  margin-bottom: 20px;
}

#fast_forward_graph,
#merge_commit_graph {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 224px;
  background-color: var(--clr-main-lighter);
}

@media screen and (max-width: 1300px) {
  main {
    padding: 10px;
  }

  table {
    border: solid 1px black;
  }

  tr {
    display: flex;
    flex-direction: column;
  }

  td {
    width: 100%;
    text-align: center;
    padding: 10px;
    border: none;
  }

  td:nth-child(1) {
    width: 100%;
    padding: 30px 0 30px 0;
    font-weight: bold;
  }

  #fast_forward_graph,
  #merge_commit_graph {
    flex-direction: column;
    height: auto;
    align-items: center;
    gap: 20px;
    padding-top: 30px;
  }

  #fast_forward_graph svg,
  #merge_commit_graph svg {
    min-width: 300px;
    display: flex;
    place-items: center;
  }

}

@media screen and (max-width: 700px) {
  nav {
    display: none;
  }

  main {
    padding: 0;
    margin: 0;
  }

  th {
    padding: 0;
  }

  td {
    border-right: 0px;
    border-left: 0px;
    border: 0;
  }

  table {
    border: solid 1px black;
  }
}